@use "../../assets/sass/functions" as *;

.container {
  display: flex;
  gap: vw-1600(8);
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;

  .next,
  .prev {
    background-color: transparent;
    border: none;
    flex-shrink: 0;
    position: absolute;
    left: vw-1600(-64);
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 768px) {
      left: -60px;
    }

    svg {
      width: vw-1600(15);
      height: vw-1600(15);

      @media (max-width: 768px) {
        width: 15px;
        height: 15px;
      }
    }

    &:hover {
      background-color: transparent;
      color: var(--green-1);
    }
  }

  .next {
    transform: rotate(180deg) translateY(50%);
    right: vw-1600(-64);
    left: auto;

    @media (max-width: 768px) {
      right: -60px;
    }
  }

  .list {
    display: flex;
    gap: vw-1600(12);
    align-items: center;

    .page {
      color: var(--accent-1);
      text-decoration: none;
      width: vw-1600(37);
      height: vw-1600(37);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: vw-1600(6);
      border: 1px solid rgba(198, 198, 198, 0.3);

      @media (max-width: 768px) {
        width: 37px;
        height: 37px;
        border-radius: 6px;
      }

      &.active {
        background-color: var(--green-1);
        color: var(--white-text);
        border-color: var(--green-1);
      }
    }
  }

  @media (max-width: 768px) {
    gap: 12px;

    .list {
      gap: 12px;
    }
  }
}
