@use "../../assets/sass/functions" as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(25, 30, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  overflow: auto;

  @media (max-width: 768px) {
    padding: 30px 20px;
    display: block;
  }
}

.wrapper.active {
  opacity: 1;
  z-index: 1000;
  pointer-events: auto;
}

.container {
  border: 1px solid rgba(198, 198, 198, 0.3);
  border-radius: vw-1600(8);
  width: vw-1600(1174);
  position: relative;
  background: var(--white-text);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: vw-1600(40) vw-1600(36);
  gap: vw-1600(70);

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 24px 20px 20px;
    gap: 32px;
    margin: 0 auto;
    width: 100%;
    border-radius: 6px;
  }
}

.caption {
  display: flex;
  flex-direction: column;
  flex: 0 0 vw-1600(430);

  @media (max-width: 768px) {
    flex: initial;
  }

  .title {
    margin-bottom: vw-1600(32);
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
  }

  .product {
    width: 100%;
    border: 1px solid var(--green-1);
    border-radius: vw-1600(6);
    box-shadow:
      0 9px 19px 0 rgba(32, 33, 32, 0.05),
      0 34px 34px 0 rgba(32, 33, 32, 0.02),
      0 77px 46px 0 rgba(32, 33, 32, 0.01),
      0 137px 55px 0 rgba(32, 33, 32, 0),
      0 214px 60px 0 rgba(32, 33, 32, 0);
    background: var(--white-text);

    @media (max-width: 768px) {
      border-radius: 6px;
    }

    .image {
      flex: 0 0 vw-1600(430);
      width: vw-1600(430);
      height: vw-1600(338);
      border-radius: vw-1600(6);
      object-fit: cover;

      @media (max-width: 768px) {
        border-radius: 6px;
        height: 200px;
        width: 100%;
      }
    }

    .name {
      padding: vw-1600(16) vw-1600(20) vw-1600(20);
      text-align: center;

      @media (max-width: 768px) {
        padding: 16px 20px 20px;
      }
    }
  }
}

.form {
  flex: 1 1 auto;

  @media (max-width: 768px) {
    padding: 0;
    width: 100%;
  }

  .title {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 28px;
    }
  }

  .line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw-1600(20);
    margin-bottom: vw-1600(20);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  .checkbox {
    margin-bottom: vw-1600(20);
    margin-top: vw-1600(32);

    @media (max-width: 768px) {
      margin-bottom: 16px;
      margin-top: 24px;
    }

    .link {
      color: var(--dark-text);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .button {
    min-width: vw-1600(198);

    @media (max-width: 768px) {
      min-width: 100%;
    }
  }
}

.close {
  position: absolute;
  top: vw-1600(16);
  right: vw-1600(16);
  width: vw-1600(36);
  height: vw-1600(36);
  background: var(--dark-text);
  color: var(--white-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: vw-1600(20);
    height: vw-1600(20);
  }

  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
    top: 16px;
    right: 16px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
