@use "../../assets/sass/functions" as *;

.container {
  padding-bottom: vw-1600(20);
  border-bottom: 1px solid var(--grey-2);

  @media (max-width: 768px) {
    padding-bottom: 20px;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: vw-1600(12);
    cursor: pointer;

    @media (max-width: 768px) {
      gap: 12px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: vw-1600(12);

      @media (max-width: 768px) {
        gap: 12px;
      }

      svg {
        color: var(--green-1);
        width: vw-1600(24);
        height: vw-1600(24);

        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }

    .arrow {
      transition: all 0.3s ease;
      transform: rotate(-90deg);
      width: vw-1600(12);
      height: vw-1600(12);

      @media (max-width: 768px) {
        width: 12px;
        height: 12px;
      }

      &.open {
        transform: rotate(90deg);
        color: var(--green-1);
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: vw-1600(16);
    border-radius: vw-1600(6);
    padding: vw-1600(16) vw-1600(20);
    background: rgba(198, 198, 198, 0.1);

    @media (max-width: 768px) {
      gap: 16px;
      border-radius: 6px;
      padding: 16px 20px;
    }

    .item {
      text-transform: uppercase;
      color: var(--dark-text);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--green-1);
      }
    }
  }
}
