@use "../../assets/sass/functions" as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: vw-1600(7);
  text-decoration: none;

  .logoImage {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .logoWhite {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .text {
    color: var(--dark-text);
    max-width: vw-1600(260);
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  img {
    width: vw-1600(209);
    height: vw-1600(42);
    object-fit: contain;

    @media (max-width: 768px) {
      width: 164px;
      height: 35px;
    }
  }
}
