@use "../../../assets/sass/functions" as *;

.button {
  width: vw-1600(40);
  height: vw-1600(40);
  border-radius: 50%;
  background: var(--white-text);
  color: var(--green-1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  text-decoration: none;

  &.secondary {
    background-color: transparent;
    border-color: transparent;
    color: var(--green-1);
  }

  svg {
    width: vw-1600(30);
    height: vw-1600(30);
  }

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &:hover {
    background: var(--white-text);
    color: var(--green-1);
  }

  &:active {
    background: var(--green-1);
    color: var(--white-text);
    border-color: var(--green-1);
  }

  &:disabled,
  &.disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-text);
    cursor: default;
    border-color: rgba(198, 198, 198, 0.1);

    svg {
      opacity: 0.5;
    }
  }
}
